@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.wrapper {
  background: whitesmoke (175, 175, 175);
  background-image: url('../../assets/images/background.jpg');    
  background-size: 120% 150%;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 50s linear infinite alternate;
  height: 100%; 
  display: relative;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
}
