.modal-block {
    border: 2px rgb(0, 0, 110) solid;
    transition: all .2s ease-in-out;
    position: relative;
    box-shadow: 6px 6px 6px #999;
    font-family: impact;
    color: black;
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
    transform: translateX(-50%) translateY(-50%) scale(0.7);
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 100%;
    max-width: 770px;
    background-color: #1c2f48;
    box-shadow: 0 0 24px rgba(17, 17, 26, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 101; 
    font-family: sans-serif;
    color: white;
}

.modal-brand {
    position: relative;
    min-width: 150px;
    background-color: #578b84; 
}

.modal-brand-caption {
    height: 100%;
    text-align: center;
    align-content: center;
    padding: 160px 15px 30px 27px;
}

.modal-brand-caption > .logo {
    height: 100%;
    font-size: 1.25em;
    line-height: 1;
    color: white;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.modal-brand-caption > .logo  > span {
    margin-top: -6px;
    display: block;
}
    
.modal-block:hover {
    opacity: 0.9;
    box-shadow: 8px 8px 20px #999;
}

.modal-block > .modal-block-content {
    background-color: inherit;
    padding: 50px 30px 50px 42px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
} 