* {
  box-sizing: border-box;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  color: #578b84;
}

p {
  font-family: sans-serif;
}

span {                      
  font-family: sans-serif;                                          
  color: white;               
}