.bgImagePreview {
    top: 275px;
    left: 0px;
    height: 350px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    /* z-index: 0; */
    margin: 0;
    border-radius: 20px;
    box-shadow: 8px 8px 20px #999;
  }
  
  
  