.bgImage {
  height: 250px;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  z-index: 0;
  border-radius: 20px;
  box-shadow: 8px 8px 20px #999;
  top: -15px;
  margin-left: 12%;
}

.popularInfo {
  position: absolute;
  top: 10%;
  left: 2%;
  width: 100%;
}

.popularInfo h1 {
  margin: 0;
  margin-bottom: 30px;
}

.switchImg {
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.switchImg div {
  width: 30px;
  height: 10px;
  background: transparent;
  border: 1px solid white;
  border-radius: 2px;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

.switchImg div.active {
  background: #404040;
}

.previewDiv {
  text-align: center;
  max-width: 80%;
}