/*=============== START SignIn/SignUp Modals Styles ===============*/
.modal-block {
  border: 0;
  transition: all .2s ease-in-out;
  position: relative;
  /* box-shadow: 6px 6px 6px #999; */
  font-family: impact;
  color: black;
  overflow: hidden;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
  transform: translateX(-50%) translateY(-50%) scale(0.7);
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
  max-width: 770px;
  background-color: #1c2f48;
  /* box-shadow: 0 0 24px rgba(17, 17, 26, 0.4); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 101; 
  font-family: sans-serif;
  color: white;
  box-shadow: 8px 8px 20px #999;
  height: 480px;
}  

.modal-brand {
  position: relative;
  min-width: 150px;
  background-color: #578b84; 
  border-top-right-radius: 150px;
}

.modal-brand-caption {
  height: 100%;
  text-align: center;
  align-content: center;
  padding: 170px 15px 30px 27px;
}

.modal-brand-caption > .logo {
  height: 100%;
  font-size: 1.25em;
  line-height: 1;
  color: white;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.modal-brand-caption > .logo  > span {
  margin-top: -6px;
  display: block;
}

#signupButton, #loginButton, #stylingButton {
  position: absolute;
  top: 0px;
}

#stylingButton{
  right: 260px;
  width: 500px;
  height: 45px;
}
#signupButton {
  right: 120px;
  width: 150px;
}

#loginButton {
  right: 0px;
  width: 150px;
}

#signupButton, #loginButton{
  border: 1px solid #324052;
}

#signupButton:hover, #signupButton:active, #loginButton:active, #loginButton:hover {
  background-color: inherit;
  color: white;
}

.modal-block:hover {
  opacity: 0.9;
}

.modal-block > .modal-block-content {
  margin-top: 5%;
  background-color: inherit;
  padding: 50px 30px 50px 42px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
} 
/*=============== START SignIn/SignUp Modals Styles ===============*/
/*=============== START Form Styles ===============*/
.form-horizontal{ 
  margin-top: 30px;
}
  
.form-horizontal > .form-group { 
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
  
.form-horizontal > .form-group> label, .label{
  display: inline-block;
  font-family: sans-serif;
  font-size: 1em;
  letter-spacing: 0.075em;
  color: #687A92;
  padding: 0; 
  }
  
p {
  font-size: .75em;
  color: #687A92;
}

.form-control {
  border: 0;
  background: transparent;
  border-radius: 15px;
  border: 2px solid #324052;
  font-size: 1.2em;
  color: #fff;
  height: 46px;
  padding: 10px 0;
  text-align: center;
  -webkit-transition: background-color .3s ease, color .3s ease;
  transition: background-color .3s ease, color .3s ease;
  margin-bottom: 5%;
}
  
.form-control {
  -webkit-transition: border-radius 0.4s cubic-bezier(1, 0.885, 0.32, 1.275);
  transition: border-radius 0.4s cubic-bezier(1, 0.885, 0.32, 1.275); 
}
  
.form-control:hover {
  border-radius: 60px; 
}
  
.form-control:focus {
  border: 0;
}
   
.email {
  background: white;
  color: black;
}
  
.help-block {
  font-family: sans-serif;
  font-size: .85em;
  letter-spacing: 0.05em;
  margin-bottom: 7.5px; 
}
  
.help-block a {
  color: #ffffff;
}
  
.help-block2 {
  color: #687A92;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 25px;
}
/*===============END Form Styles ===============*/
/*=============== START Button Styles ===============*/
.btn {
  font-family: sans-serif;
  font-weight: 700;
  padding: 10px 24px;
  -webkit-transition: background-color .3s ease, color .3s ease;
  transition: background-color .3s ease, color .3s ease; 
  margin-bottom: 25px;
}
     
.btn-radius {
  -webkit-transition: border-radius 0.4s cubic-bezier(1, 0.885, 0.32, 1.275);
  transition: border-radius 0.4s cubic-bezier(1, 0.885, 0.32, 1.275); 
}
  
.btn-radius:hover {
  border-radius: 60px; 
}
  
.btn-primary, .btn-primary:focus, .btn-primary:hover, .btn-primary:active:focus {
  background-color: #578b84;
  border: 0;
  color: #fff; 
}
/*=============== END Button Styles ===============*/