@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.wrapper {
  background: whitesmoke (175, 175, 175);
  background-image: url('https://mocah.org/uploads/webp/5389496-northern-light-sky-night-aurora-boreali-night-sky-space-green-blue-star-background-dark-wallpaper-cloud-abstract-purple-green-light-aurora-beautiful-summer-texture-free-images.jpg.webp');    
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 160s linear infinite;
  height: 100%; 
  display: relative;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
}