/*=============== START Chat Styles ===============*/
.chat-body {
    height: calc(100% - 175px);
    padding: 15px;
    overflow: hidden; 
    background-color: rgba(255, 255, 255, 0.05);
}
  
.chat-message {
    padding: 20px 0;
    margin: 0;
}
    
.chat-message + .chat-message {
    border-top: 1px solid rgba(255, 255, 255, 0.05); 
} 

.chat-message > .avatar {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.342);
    float: left; 
}

.chat-message-content {
    line-height: 1.44;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.4); 
}

.chat-message-author {
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-right: 4px; 
}
    
.chat-message-date {
    font-size: 0.875em; 
}
    
.chat-message-author:hover {
    color: #578b84;
}
    
.chat-message .chat-message-message {
    margin-top: 2px;
    color: rgba(255, 255, 255, 0.8); 
}
      
.chat-footer {
    padding: 5px 15px;
    background-color: #10243E; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.post-input {
    background: rgba(255, 255, 255, 0.05);
    border: 0;
    width: 95%;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 6px 20px; 
    transform: scale(1.05); 
}
        
.post-input:focus {
    background: rgba(255, 255, 255, 0.06);
}
        
.post-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4); 
}

.post-button {
    position: absolute;
    right: 35px;
    top: 15%;
    background: #578b84;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border-bottom-left-radius: 20px; */
    width: 35x;
    height: 35px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 0;
    color: #fff;
    opacity: .7;
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.post-button:hover {
    opacity: 1;
    -webkit-transform: translateY(-5%) scale(1);
    transform: translateY(-5%) scale(1); 
}

/* .post-button {
    position: absolute;
    right: 45px;
    top: 50%;
    -webkit-transform: translateY(-50%) scale(0.5);
    transform: translateY(-50%) scale(0.5);
    background: #578b84;
    border-radius: 60px;
    width: 24x;
    height: 24px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 0;
    color: #fff;
    opacity: .5;
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.post-input:active + .post-button {
    opacity: 1;
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); 
} */

.post-input:hover, .post-input:active {

    border-radius: 0px; 
}

.caret-right {
    position: relative;
    left: -1px;
    width: 6px;
    height: 6px;
    display: block;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); 
}

.relative {
    position: relative; 
}

.post-input {
    color:white;
}
/*=============== END Chat Styles ===============*/

