#headerTitle {
  color: yellow;
  /* margin-bottom: 50px; */
  margin-top: 10px;
}

#headerTitle h2 {
  font-size: 36px;
}

#headerTag {
  color: aquamarine;
  font-size: 18px;
}

.header-area {
  margin-top: 30px;
}
