#headerTitle {
  /* margin-bottom: 50px; */
  margin-top: 10px;
}

#headerTitle a:hover {
  text-decoration: none;
}

h2 {
  color: yellow;
  font-size: 36px;
}

#headerTag {
  color: aquamarine;
  font-size: 18px;
}

.header-area {
  margin-top: 30px;
}
