h4 {
    color: white;
    position: relative;
    display: block;
    width: 100%;
    /* margin: auto; */
}

.whatMsg {
    top: -10px;
    padding: 275px 0 225px;
}

.howMsg {
    padding-top: 50px;
    padding-bottom: 50px;
    top: 125px;
}

.doMsg {
    top: 420px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 200px;
}

.doMsg a {
    color: #578b84; 
}