
#navbar {
  text-align: left;
  margin-bottom: -30px;
  margin-top: -5px;
  margin-left: -45px;
}

#navbar ul {
  white-space: nowrap;
  padding-left: 0px;
  margin-left: 0px;
}
      
.navbar-menu a span {
  color: black;
}

.navbar-menu li a {
  color: black;
  background-color: aquamarine;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 1px 0;
  font-weight: 700;
  font-size: 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 9px 12px 2px 0px;
  /* text-align: center; */
}
  
.navbar-menu li a:hover {
  color: rgb(3, 155, 84);
  text-decoration: none;
}
      
.navbar-menu li a:active {
  color: aquamarine;
}
      
.navbar-menu .iconImage {
  background-color: aquamarine;
  font-size: 16px; 
  padding: 9px 12px 2px 0px;
  color: black;
}
  
.navbar-menu .iconImage:hover {
  text-decoration: none;
  background-color: rgb(3, 155, 84);
  color: black;
}
  
.iconImage img {
  width: 40px;
  height: 40px;
}

#horizontal-list {
	list-style: none;
	padding-top: 10px;
}

#horizontal-list li {
  display: inline-block;
}