nav{
    overflow: hidden;
    position: fixed;
    top: -105px;
    float: right;
    width: auto;
}

.navbar ul{
    display:flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li{ 
    margin: 0 2%;
 }

.navbar li a {
    text-decoration: none;
    color: #687a92;
    display: block;
    font-size: 15px;
}

.navbar a:hover {
    color: white;
} 